parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method object\\:\\:getEmailForPasswordReset\\(\\)\\.$#"
			count: 1
			path: app/Providers/AuthServiceProvider.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 1
			path: routes/console.php

		-
			message: "#^Cannot call method hasVerifiedEmail\\(\\) on App\\\\Models\\\\User\\|null\\.$#"
			count: 2
			path: tests/Feature/Auth/EmailVerificationTest.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$token\\.$#"
			count: 1
			path: tests/Feature/Auth/PasswordResetTest.php

		-
			message: "#^Function something\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Pest.php
